In [1]:
%load_ext rpy2.ipython

In [2]:
from pandas import read_csv, DataFrame, Series
import statsmodels.api as sm
import rpy2.robjects as R
from rpy2.robjects.packages import importr
from rpy2.robjects import r, pandas2ri
from pandas import date_range
import psycopg2
from psycopg2.extras import DictCursor
from matplotlib import pyplot
from datetime import datetime, timezone


pandas2ri.activate()

C:\Users\A.Litvinau\AppData\Local\Programs\Python\Python36-32\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [22]:
dataset = read_csv('dataset.csv', index_col=['date'], parse_dates=['date'], dayfirst=True, usecols=['date', 'weighted_average', 'high', 'low', 'open', 'close'])

In [23]:
dataset

                         high       low      open     close  weighted_average
date
2016-07-19 08:35:00  0.989950  0.989950  0.989950  0.989950          0.989950
2016-07-19 08:40:00  0.989950  0.250000  0.989950  0.250000          0.269013
2016-07-19 08:45:00  0.250000  0.250000  0.250000  0.250000          0.250000
2016-07-19 08:50:00  0.970000  0.950000  0.950000  0.970000          0.966364
2016-07-19 08:55:00  0.970000  0.970000  0.970000  0.970000          0.970000
2016-07-19 09:00:00  0.970000  0.970000  0.970000  0.970000          0.970000
2016-07-19 09:05:00  0.970000  0.970000  0.970000  0.970000          0.970000
2016-07-19 09:10:00  0.970000  0.970000  0.970000  0.970000          0.970000
2016-07-19 09:15:00  0.550000  0.550000  0.550000  0.550000          0.550000
2016-07-19 09:20:00  0.350000  0.330000  0.350000  0.330000          0.339705
2016-07-19 09:25:00  0.550000  0.452000  0.452000  0.550000          0.454877
2016-07-19 09:30:00  0.550000  0.550000  0.550000  0.550000          0.550000
2016-07-19 09:35:00  0.320000  0.310000  0.320000  0.310000          0.315751
2016-07-19 09:40:00  0.310000  0.310000  0.310000  0.310000          0.310000
2016-07-19 09:45:00  0.350000  0.350000  0.350000  0.350000          0.350000
2016-07-19 09:50:00  0.350000  0.350000  0.350000  0.350000          0.350000
2016-07-19 09:55:00  0.350000  0.350000  0.350000  0.350000          0.350000
2016-07-19 10:00:00  0.350000  0.321100  0.321100  0.350000          0.339242
2016-07-19 10:05:00  0.350000  0.350000  0.350000  0.350000          0.350000
2016-07-19 10:10:00  0.321000  0.320000  0.320000  0.321000          0.320123
2016-07-19 10:15:00  0.350000  0.320000  0.321000  0.350000          0.321380
2016-07-19 10:20:00  0.370000  0.320000  0.370000  0.320000          0.369719
2016-07-19 10:25:00  0.320000  0.320000  0.320000  0.320000          0.320000
2016-07-19 10:30:00  0.320000  0.320000  0.320000  0.320000          0.320000
2016-07-19 10:35:00  0.320000  0.320000  0.320000  0.320000          0.320000
2016-07-19 10:40:00  0.389900  0.350000  0.350000  0.389900          0.383594
2016-07-19 10:45:00  0.380001  0.380001  0.380001  0.380001          0.380001
2016-07-19 10:50:00  0.380001  0.380001  0.380001  0.380001          0.380001
2016-07-19 10:55:00  0.380001  0.380001  0.380001  0.380001          0.380001
2016-07-19 11:00:00  0.380001  0.380001  0.380001  0.380001          0.380001
...                       ...       ...       ...       ...               ...
2018-01-31 07:35:00  0.004672  0.004672  0.004672  0.004672          0.004672
2018-01-31 07:40:00  0.004547  0.004547  0.004547  0.004547          0.004547
2018-01-31 07:45:00  0.004547  0.004547  0.004547  0.004547          0.004547
2018-01-31 07:50:00  0.004547  0.004546  0.004547  0.004546          0.004547
2018-01-31 07:55:00  0.004546  0.004546  0.004546  0.004546          0.004546
2018-01-31 08:00:00  0.004546  0.004546  0.004546  0.004546          0.004546
2018-01-31 08:05:00  0.004546  0.004546  0.004546  0.004546          0.004546
2018-01-31 08:10:00  0.004524  0.004433  0.004524  0.004433          0.004441
2018-01-31 08:15:00  0.004537  0.004531  0.004531  0.004537          0.004535
2018-01-31 08:20:00  0.004537  0.004537  0.004537  0.004537          0.004537
2018-01-31 08:25:00  0.004537  0.004537  0.004537  0.004537          0.004537
2018-01-31 08:30:00  0.004537  0.004537  0.004537  0.004537          0.004537
2018-01-31 08:35:00  0.004567  0.004535  0.004535  0.004567          0.004540
2018-01-31 08:40:00  0.004592  0.004576  0.004576  0.004592          0.004584
2018-01-31 08:45:00  0.004542  0.004542  0.004542  0.004542          0.004542
2018-01-31 08:50:00  0.004541  0.004541  0.004541  0.004541          0.004541
2018-01-31 08:55:00  0.004537  0.004535  0.004537  0.004535          0.004537
2018-01-31 09:00:00  0.004603  0.004537  0.004537  0.004603          0.004558
2018-01-31 09:05:00  0.004603  0.004603  0.004603  0.004603          0.004603
2018-01-31 09:10:00  0.004605  0.004584  0.004584  0.004605          0.004594
2018-01-31 09:15:00  0.004605  0.004605  0.004605  0.004605          0.004605
2018-01-31 09:20:00  0.004574  0.004574  0.004574  0.004574          0.004574
2018-01-31 09:25:00  0.004574  0.004574  0.004574  0.004574          0.004574
2018-01-31 09:30:00  0.004574  0.004574  0.004574  0.004574          0.004574
2018-01-31 09:35:00  0.004627  0.004565  0.004565  0.004627          0.004602
2018-01-31 09:40:00  0.004627  0.004627  0.004627  0.004627          0.004627
2018-01-31 09:45:00  0.004627  0.004627  0.004627  0.004627          0.004627
2018-01-31 09:50:00  0.004627  0.004627  0.004627  0.004627          0.004627
2018-01-31 09:55:00  0.004609  0.004601  0.004601  0.004609          0.004609
2018-01-31 10:00:00  0.004586  0.004586  0.004586  0.004586          0.004586

[161586 rows x 5 columns]

In [24]:
dataset.plot(figsize=(12,6))
pyplot.show()